# postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=default

# hasura
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_DATABASE_URL=postgresql://user:password@postgres:5432/default
HASURA_GRAPHQL_ADMIN_SECRET=myadminsecretkey
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=guest
HASURA_GRAPHQL_ACTION_BASE_URL=http://hapi:9090

# hapi
HAPI_SERVER_PORT=9090
HAPI_SERVER_ADDRESS=hapi
HAPI_NETWORK_CHAIN_ID=b64646740308df2ee06c6b72f34c0f7fa066d940e831f752db2006fcc2b78dee
HAPI_HASURA_URL=http://hasura:8080/v1/graphql
HAPI_HASURA_ADMIN_SECRET=myadminsecretkey
HAPI_VMPX_CONTRACT=vmpx
HAPI_DISPENSER_CONTRACT=tokenlinker
HAPI_DISPENSER_CONTRACT_PRIVATE_KEY=priv_key
HAPI_ETH_HTTP_ENDPOINT=https://eth-goerli.g.alchemy.com/v2
HAPI_ETH_WSS_ENDPOINT=wss://eth-goerli.g.alchemy.com/v2
HAPI_ETH_ALCHEMY_KEY=api_key
HAPI_ETH_WALLET_TOKEN_ADDRESS=0x
HAPI_ETH_WALLET_ADDRESS=0x
HAPI_ETH_WALLET_KEY=priv_key